/* Large Device, Wide Screens */
@media only screen and (max-width: 1200px) {
    .btn-generation{
        font-size: 11pt;
    }
    .main-text_container{
        max-width: 100%;
      }
}
/* Medium Device, Desktops */
@media only screen and (max-width: 992px){
    /* HEADER */
    header{
        background: right 0% / 90% 40% no-repeat url(../image/header.png);
      }
      .menu_link{
        font-size: 9pt;
        color: white;
        font-family: "SFProDisplay Regular";
      }

}
/* Small Device, Tables */
@media only screen and (max-width: 768px){
    /* HEADER */
    header{
        background: right 0% / 90% 40% no-repeat url(../image/header.png);
        padding: 0;
      }
      .main_container{
        padding: 0;
      }
      .header-container{
        display: block;
        background: linear-gradient(to right, #3858e5, #53cbf0);
      }
      .menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
      }
    /* FOOTER */
     footer{
      display: block;
      width: 100%;
    }
    .footer{
      padding: 0;
      margin-top: 40px;
      display: block;
    }
    .footer_title{
      font-size: 15pt;
      margin-top: 120px;
    }
    .footer_form{
      display: block;
    }
    .footer_icon{
        margin-top: 0;
        height: 260px;
      }
    .icon_form{
      margin-top: 10px;
    }
    .form__input{
      display: block;
    }
    .bottom-footer{
      background: linear-gradient(to right, #3858e5, #53cbf0);
      padding: 0;
    }
    .footer_contain{
      margin-top: 20px;
      padding: 20px 0;
    }
    .info_date{
      margin-left: 20px;
    }
    textarea.form__input{
      width: 100px;
    }
    .form{
      margin-top: 10px;
    }
    .form__button{
      margin: 0;
      margin-top: 10px;
      width: 100%;
    }
    /* FIRST BLOCK */
    .main-text_container{
        max-width: 100%;
        margin-left: 10px;
    }
    .btn-generation{
        font-size: 10pt;
    }
    .first-block_img{
        margin-top: 30px;
        height: 30vh;
    }

    /* -------SECTION 1------- */
    .view_container{
        width: 100%;
    }
    .view_cont_setup{
        font-size: 18pt;
    }
    .view_cont_create{
        font-size: 8pt;
    }

    /* -------SECTION 2------- */
    .office_tabs_block{
        padding: 0;
    }
    .main_block_text{
        width: 100%;
        margin: auto;
        color: white;
    }
    .tab {
        font-size: 10pt;
    }
    .tabs_title{
        font-size: 16pt;
    }
    .tab_office{
        font-size: 5pt;
        padding: 5px 10px;
        border-radius: 0 20px 0 0;
    }
    .office_body{
        background: white;
        border-bottom-left-radius: 50px;
      }
    .office{
        padding-top: 10px;
    }
    .office_content_desc{
        font-size: 8pt;
        margin-left: 10px; 
    }
    .office_desc{
        background: #e6f1ff;
        border-bottom-left-radius: 50px;
      }
    .office_content_desc_text{
        width: 100%;
    }
    .office_desc p{
        padding: 20px 25px;
        width: 100%;
        font-size: 10pt;
    }
    .office_img{
        margin-top: 10px;
        width: 50%;
    }
    /* ------FOOTER--------------- */
    .message textarea.form__input{
        width: 100%;
      }
    /* ----------POPUP------------ */
    .popup__content{
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .popup__body {
        padding: 0;
        display: block;
    }
    /* ------SECTION SCROLL------ */
    .scroll_block{
        padding: 0;
    }
    .scroll_menu_title{
        font-size: 20pt;
        width: 100%;
        text-align: center;
    }
    .scroll-list ul {
        list-style:none;
        height: 400px;
        margin:0;
        padding-bottom: 5%;
      }
      .scroll-list li{
        list-style:none;
        padding:0;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-top: 25px;
        width: 100%;
        border-bottom-left-radius:20px; 
        border-top-right-radius: 20px;
        height: 100px;
      }
      .scroll-list_content_text{
        width: 100%;
        padding: 0;
      }
      .scroll-text-title{
        font-size: 10pt;
      }
      .scroll-text-desc{
        margin-top: 5px;
        font-size: 8pt;
      }
      .scroll-list-icon{
        width: 120px;
        height: 100px;
        padding: 10px;
        background: #e6f1ff;
      }
      .scroll-list-name{
        height: 100px;
        font-size: 10pt;
        border-bottom-left-radius:20px; 
      }
      /* ------ANALYTIC BLOCK------- */
      .analytic_block{
        padding: 10px 0;
      }
      .analytic_content{
        margin: 0;
      }
      .analytic_img_main{
        width: 100%;
      }
      .analytic_box{
        margin: 10px auto;
      }
      .analytic_main_text{
        text-align: center;
      }
      .analytic_main_text p{
        font-size: 16pt;
      }

      /* -------PRICE BLOCK-------- */
      .price_block{
        background:  no-repeat url(../image/price_backroung.png);
        background-size:190em;
      }
      .price_wrapper{
        padding: 20px 0;
      }
      .price_block_title{
        font-size: 20pt;
        text-align: center;
      }
      .box_title{
        padding-top: 25px;
        padding-bottom: 20px;
        font-size: 16pt;
      }
      .price_box{
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
      }
      .box_desc{
        background: white;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 20px 30px 40px 30px;
      }
      .box_sum{
        font-size: 14pt;
      }
      .box_sum b{
        font-size: 30pt;
      }
      .box_desc ul li{
        list-style: none;
        margin-top: 10px;
        font-size: 12pt;
      }
      /* ABOUT */
        .about_wrapper{
            margin: 0;
            text-align: center;
        }
        .about_company{
            margin-top: 20px;
        }
        .about_company_text{
            margin-top: 10px;
        }
        .about_company_text h1{
            font-size: 20pt;
        }
        .about_company_text p{
            margin-top: 15px;
            font-size: 12pt;
        }
        .about_desc{
            border-bottom-left-radius:50px; 
            border-top-right-radius: 50px;
            width: 100%;
        }
        .about_desc_content{
            margin-left: 0;
            color: white;
            margin-top: 20px;
        }
        .about_desc_text{
            text-align: left;
            font-size: 14pt;
            margin-top: 20px;
            margin-left: 20px;
          }
          .about_desc_author{
            margin-top: 15px;
            font-size: 10pt;
          }
          .ironman_img{
            width: 50%;
            margin-top: 0;
          }
          .company_values{
            margin: 0 auto;
            margin-top: 50px;
          }
          .company_values_content{
            text-align: left;
            margin: 0 40px;
          }
}
/* Extra Small Device, Phones */
@media only screen and (max-width: 480px){
    

}


/* ---------------------------- */
@media (min-width: 768px){
    .toggle{
      display: none;
    }
  
    .menu{
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 1rem;;
    }
  
    .menu li{
      display: block;
    }
    .menu_link{
      font-size: 14pt;
      color: white;
      font-family: "SFProDisplay Regular";
    } 
}



  @media  screen and (max-width:768px){
    
  }
  @media  screen and (min-width:1140px){
    .footer_title{
      max-width: 30%;
    }
  }
  